{% extends 'base.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}
<h1>{{ user.firstname }} {{ user.lastname | upper }} </h1>
</br>
<img src="{{ user.picture }}" alt="portrait de l'employé">
<h2>Service : {{ user.department.name }}</h2>
<h5>Email: {{ user.email }}</h5>
<p>Type de contrat : {{ user.contractType.name }}</p>
<p>Date de fin de contrat : {{ user.terminationDate ? user.terminationDate|date('d-m-y') : '' }} </p>
</br>
<a href="{{ path('app_directory') }}" >Retour à l'annuaire</a>

{% endblock %}
